
Trabajo-DEINT-Pasapalabra/Trabajo-DEINT-PasapalabraUI/obj/

Trabajo-DEINT-Pasapalabra/Trabajo-DEINT-PasapalabraEntities/obj/

Trabajo-DEINT-Pasapalabra/Trabajo-DEINT-PasapalabraDAL/obj/

Trabajo-DEINT-Pasapalabra/Trabajo-DEINT-PasapalabraBL/obj/

Trabajo-DEINT-Pasapalabra/Trabajo-DEINT-Pasapalabra_Entities/obj/
/.idea/.idea.folder.dir/.idea/workspace.xml
/.idea/.idea.folder.dir/.idea/projectSettingsUpdater.xml
slnx.sqlite
/Trabajo-DEINT-Pasapalabra/Trabajo-DEINT-PasapalabraUI/bin
